<h1>Cocktails:</h1>

<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
<% end %>

<p><%= link_to "Add a cocktail", new_cocktail_path %></p>

<%= cl_image_tag("https://res.cloudinary.com/genuine-standards/image/upload/v1551442495/beer_glass.jpg",
      width: 400, height: 300, crop: :fill) %>
