<h1>Cocktails:</h1>

<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
<% end %>

<p><%= link_to "Add a cocktail", new_cocktail_path %></p>
<br>
<p><%= link_to "See our top rated cocktails", cocktail_top_path(@cocktails) %></p>
