<% if @cocktail.photo.present? %>
  <%= cl_image_tag @cocktail.photo, height: 200, width: 300, crop: :fill %>
<% end %>

<h2><%= @cocktail.name %></h2>
<h3>Rating (1-5): <%= @cocktail.rating %></h3>

<p><%= link_to "Go Home", cocktails_path %></p>




