.wrapper {
  background-image: url('https://images.unsplash.com/photo-1485686531765-ba63b07845a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=747&q=80');
  background-size: cover;
  height: 100vh;
}

h1 {
  margin-top: 0;
  color: white;
}

h2 {
  color: #75BBA7;
}

p {
  color: #177E89;
}
