.wrapper {
  background-image: url('https://www.bern.com/assets/images/4/cuba-bariii-f4384604.jpg');
  background-size: cover;
  height: 100vh;
}

h1 {
  margin-top: 0;
  color: white;
}

h2 {
  color: #75BBA7;
}

p {
  color: #177E89;
}
